<!DOCTYPE html>
<html>
  <head>
    <title>About | Katy and Max</title>
  </head>
  <body>
    <h1>About Us</h1>
    <p>
      Katy and Max are two weirdo kids who go to school
      together at the University of Nebraska - Lincoln.
      They both have a fondness for brainstorming ridiculous
      ideas and running way too far with them.
    </p>
  </body>
</html>
