<!DOCTYPE html>
<html>
  <head>
    <title>Home | Clock Stalk</title>
  </head>
  <body>
    <div class="center jumbotron">
      <h1>Welcome to Clock Stalk!</h1>

      <h2>
        The number one application for following what your friends are doing each and every minute of every day.
      </h2>

      <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary sign-up" %>
    </div>
  </body>
</html>